.live_tut.tutorial_object.tutorial_1
    .overlay-arrow
    .overlay-item
        .tutorial-header Dashboards
        .tutorial-text Create a dashboard to bring everything together in one place
        .tutoral-next(data-next='2') Got it!
.live_tut.tutorial_object.tutorial_2
    .overlay-arrow
    .overlay-item
        .tutorial-header Accounts
        .tutorial-text Once you've created a dashboard, you can connect your social accounts to ReplyMap
        .tutoral-next(data-next='4') Got it!
.live_tut.tutorial_object.tutorial_4
    .overlay-arrow
    .overlay-item
        .tutorial-header Add to Dashboard
        .tutorial-text Once you have added an account, just click the settings button to add it to your dashboard.
        .tutoral-next(data-next='5') Got it!
.live_tut.tutorial_object.tutorial_5
    .overlay-arrow
    .overlay-item
        .tutorial-header That's it!
        .tutorial-text
            | Super simple, right? :)
        .tutorial-header Want more?
        .tutorial-text(style='padding-bottom: 0px;')
            li <a style='text-decoration:underline' target='_blank' href='http://twitter.com/socialposts'>Follow us on @socialposts</a> for tips, support, and more info
            div(style='text-align:center; margin-top:15px') <a href="https://twitter.com/socialposts" class="twitter-follow-button" data-show-count="false">Follow @socialposts</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        .tutoral-next(data-next='done') Done
| <!-- le -->
.canvas.tutorial_object.tutorial_5
    .stream(class='setup-default')
        .stream-header
            .stream-title
                | <a style='font-weight:bold'>@!{udata.name}</a> <a class='subdata'>The Social Network Recent Updates</a>
            .side-options
                a.icon-eye
                a.icon-ccw
                a.icon-cancel
        .stream-content
            .stream-content-layer
